.logo {
    height: 120px;
    display: block;
    margin: 0 auto;
  }
  
  
  .back-button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .card-title {
    margin-bottom: 20px;
  }
  
  .card {
    height: 500px;
    width: 500px;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 250px); /* Adjust according to the size of the elements above */
  }