.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin-top: 0px;
  flex: 1;
  
}

.footer{
  
    width: 100%;
    bottom: 0;
}


body, html {
  height: 100%;
  margin: 0;
}


.back-button {
  position: absolute;
  left: 20px; 
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  background-color: #272727; 
  color: #F6F6E9; /* Font color white */
  border-radius: 5px; /* Rounded corners */
  padding: 0.5rem 1rem; /* Padding for the button */
  display: flex;
  align-items: center;
}

.back-button i {
  font-size: 1.6em; /* Adjust the icon size as needed */
  font-weight: 900; /* Attempt to make the icon bolder */

}



.card {
  width: auto;
  max-width: 600px; /* Adjust as needed */
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
}
.card h2 {
  margin-top: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}




.card {
  background-color: #F5F7F8; 
  color: #000000; 
 
}

